body, html {
  min-height: 100%;
  background: url(images/backg.png);
}

h1 {
font-family: arial;
  font-weight: bold;
  line-height: 6px;
  
}

h2 {
	font-family:arial;
  font-size: 16px;
  line-height: 10px;
}

h2.inline-header {
  display: inline;
  line-height: 25px;
}

.profile-container {
	font-family: arial;
	font-weight: lighter;
	font-size:13px;
  width: 800px;
  background: #f3f3f3;
  
  margin-top: 10%;
  margin-right: auto;
  margin-bottom: 120px;
  margin-left: auto;

  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

  -webkit-border-radius: 5px 5px 5px 5px;
     -moz-border-radius: 5px 5px 5px 5px;
          border-radius: 5px 5px 5px 5px;
}

.profile-container:before,
.profile-container:after {
  display: table;
  content: "";
}
.profile-container:after {
  clear: both;
}


.avatar-container {
  float: left;
  width: 33%;
}
.avatar {
  width: 90%;
  height: auto;
  /*border: 10px solid #ffffff;*/
  display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
    margin-bottom: 14px;
}

.content-container {
  float: left;
  width: 67%;
}
.content-header {
  background: #437AF9;
  color: #ffffff;
  padding: 5px 15px;

}

.content-section {
  margin-left: 10px;
  margin-right: 18px;
  text-align: justify;
  margin-top: 4px;
  margin-bottom: 4px;
  
}

.skill {
  padding: 2px 2px 2px 2px;
  background: #C0C0C0;
}

.interest {
  padding: 2px 2px 2px 2px;
  background: #C0C0C0;
}

