<h1>In a Nutshell</h1>
<section id="nutshell" class="container">
  <div class="row">
    <h2>Startup School is:</h2>
  </div>
  <div class="row">
    <div class="column"><div class="column_content">
      <ul>
        <li>An immersive, intensive, collaborative program.</li>
        <li>Real&ndash;world project&ndash;based education.</li>
        <li>An opportunity to learn specific, highly demanded skills.</li>
      </ul>
    </div></div>
    <div class="column"><div class="column_content">
      <ul>
        <li>For recent grads, skill&ndash;seekers &amp; career&ndash;changers.</li>
        <li>Highly selective, rolling admission.</li>
        <li>Proud to announce the graduation of our inaugural Summer class.</li>
      </ul>
    </div></div>
  </div>
</section>
