/**Typography**/

body, html {
  min-height: 100%;
  background: url(images/background_texture.png);
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 15px
}

.contact{
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 12px
}

#sub-head{
  position: relative;
  top: -30px;
  color: #CC0000;
  font-size: 12x;
}

p#bio{
  font-family: 'Times New Roman', serif;
  padding-right: 25px;
  font-size: 16px;
  text-align: justify;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: .03em;
  color: #ededed;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 18px
}

h2.inline-header {
  display: inline-block;
}

#phone:hover{
  color: #ff0000;
  text-decoration: overline underline;
}

/** Link Styles**/
a:link {
  color: #000000;
  text-decoration: underline;
  }

a:active {
  color: #0000ff;
  text-decoration: underline;
  }

/**a:visited {
  color: #008000;
  text-decoration: underline;
  }**/

a:hover {
  color: #CC0000;
  text-decoration: overline underline;
  }

/** Layout**/

.profile-container {
  width: 800px;
  background: #f3f3f3;

  margin-top: 10%;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;

  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

  -webkit-border-radius: 8px 8px 8px 8px;
     -moz-border-radius: 8px 8px 8px 8px;
          border-radius: 8px 8px 8px 8px;
}

.profile-container:before,
.profile-container:after {
  display: table;
  content: "";
}
.profile-container:after {
  clear: both;
}


.avatar-container {
  float: left;
  width: 33%;
}
.avatar {
  width: 100%;
  padding: 27px 0px 0px 0px;
  height: auto;
}

.content-container {
  float: left;
  width: 67%;
  hight: auto;
}
.content-header {
  background: #848484;
  color: #f0f0f0;
  padding: 0px 15px;
  height: auto;

  /**border-bottom: 2px solid #aaa;**/
}

.content-section {
  margin-left: 15px;
  margin-top: 10px;
}

.skill {
  padding: .0em .4em;
  background: #ddd;
   line-height: 200%;
}

.skill:hover {
  background: #CC0000;
  color: #fff;
  line-height: 200%;
}

.interest {
  padding: .0em .4em;
  background: #ddd;
  line-height: 200%;
}

.interest:hover {
  padding: .0em .4em;
  background: #CC0000;
  color: #fff;
  line-height: 200%;
}
